div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}
