@charset "UTF-8";

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.form-inline form {
  display: inline;
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-plus:before {
  content: "+";
}

.order-flex-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-flex-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

